<div class="container-fluid ad-container">
 <div class="row">
  <div class="col-12">
   <div class="image-with-text-overlay text-left mobile-height-500 desktop-height-650 section-spacing" 
        style="--overlay-color-rgb: 0,0,0; --overlay-opacity: 0.0; --color-bg: rgba(0,0,0,0); 
               --color-body-rgb: 255,255,255; --color-body: #ffffff; --solid-button-label: #333333; 
               --solid-button-background: #ffffff; --solid-button-background-hover: #ededed;">
     
     <div class="image-with-text-overlay--bg parallax--true">
       <img class="thb-parallax-image lazyautosizes lazyloaded ls-is-cached" 
            width="3080" height="1300" 
            data-sizes="auto" 
            src="./assets/images/photo-prodigy.jpg" 
            fetchpriority="auto" 
            alt="Photo Prodigy Collection" 
            style="object-position: 50% 50%; transform: translate3d(0px, -1.5101%, 0px);" 
            sizes="1728px">
     </div>

     <div class="image-with-text-overlay--content content-bottom-left">
       <div class="image-with-text-overlay--content-inner content-width-medium">
         
         <div>
           <span class="inline-badge" 
                 style="--badge-bg: #ffffff; --badge-bg-rgb: 255,255,255; --badge-text: #0a0a0a;">
             NEW COLLECTION
           </span>
         </div>

         <div class="image-with-text-overlay--heading split-text">
           <div class="line-parent">
             <div class="line-child">THE PHOTO PRODIGY</div>
           </div>
         </div>

         <div class="rte">
           <p>
             <span class="line-parent">
               <span class="line-child">
                 Captures every moment with candid and staged shots, making sure everyone remembers the night.
               </span>
             </span>
           </p>
           <p>
             <span class="line-parent">
               <span class="line-child">
                 After the party, their album is the one everyone’s excited to scroll through, reliving each unforgettable moment!
               </span>
             </span>
           </p>
         </div>

         <button class="btn-buy" role="button" title="Shop The Collection">
           Shop The Collection
         </button>

       </div>
     </div>
    </div>
   </div>
 </div>
</div>

