<div class="row">
 <div class="col-1 offset-1">
  <ngx-skeleton-loader
   appearance="line"
   animation="progress"
   count="4"
   [theme]="{
    height: '7em',

    'border-radius': '12px'
   }"></ngx-skeleton-loader>
 </div>
 <div class="col-4">
  <ngx-skeleton-loader
   appearance="line"
   animation="progress"
   [theme]="{
    height: '400px',
    'border-radius': '12px'
   }"></ngx-skeleton-loader>
 </div>

 <div class="col-6">
  <div class="row">
   <div class="col">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" count="2"></ngx-skeleton-loader>
   </div>
  </div>

  <div class="row">
   <div class="col-9 d-flex justify-content-end">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1"></ngx-skeleton-loader>
   </div>
   <div class="col-3">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1"></ngx-skeleton-loader>
   </div>
  </div>

  <div class="row">
   <div class="col-2 offset-2">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1"></ngx-skeleton-loader>
   </div>
   <div class="col-5 offset-2">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1"></ngx-skeleton-loader>
   </div>
  </div>
  <hr />

  <div class="row">
   <div class="col">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1"></ngx-skeleton-loader>
   </div>
   <div class="col">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1"></ngx-skeleton-loader>
   </div>
  </div>

  <hr />
  <div class="row">
   <div class="col">
    <ngx-skeleton-loader
     appearance="line"
     animation="progress-dark"
     count="1"
     [theme]="{
      height: '60px',
      'border-radius': '12px'
     }"></ngx-skeleton-loader>
   </div>
   <div class="col">
    <ngx-skeleton-loader
     appearance="line"
     animation="progress-dark"
     count="1"
     [theme]="{
      height: '60px',
      'border-radius': '12px'
     }"></ngx-skeleton-loader>
   </div>
  </div>

  <hr />
  <div class="row">
   <div class="col-7">
    <ngx-skeleton-loader
     appearance="line"
     animation="progress-dark"
     count="1"
     [theme]="{
      height: '50px',
      'border-radius': '12px'
     }"></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1"></ngx-skeleton-loader>
   </div>
  </div>

  <hr />
  <div class="row">
   <div class="col-4">
    <ngx-skeleton-loader
     appearance="line"
     animation="progress-dark"
     count="1"
     [theme]="{
      height: '40px',
      'border-radius': '12px'
     }"></ngx-skeleton-loader>
   </div>
  </div>
 </div>
</div>
