<app-header-two></app-header-two>

<!--Main Slider Section-->
<div class="p-0" [ngClass]="{'container-fluid': settings.mainSliderFluid, 'container container-xxxl': !settings.mainSliderFluid}">
  <app-main-slider></app-main-slider>
</div>

<!--Categories Section-->
<section *ngIf="settings.showCategories && !settings.categoriesInHomeSwiper" 
         class="p-0" 
         [ngClass]="[settings.categoriesDevice, settings.categoriesInHomeSwiper ? 'absolute-bottom' : '']">
         <app-circle-categories></app-circle-categories>
    
         <!--<app-lazy-loader
    [lazyComponentType]="CircleCategoriesComponent"
    (lazyComponentVisible)="CircleCategoriesComponentVisible = true">
    
    <ng-container *ngIf="CircleCategoriesComponentVisible">

      <ng-container *ngTemplateOutlet="circleCategoriesContent"></ng-container>
    </ng-container>

  </app-lazy-loader>


  <ng-template #circleCategoriesContent>
    <app-circle-categories></app-circle-categories>
  </ng-template>-->
</section>

<!-- One Product Details Section -->
<section *ngIf="settings.productDetailsOnHomePage">
  <div class="container-fluid">
    <app-product-details
      [productId]="settings.productDetailsOnHomePageId"
      [template]="settings.productDetailsTemplate"
      [swiperTemplate]="settings.productDetailsSwiperTemplate"
      [isQuickView]="false"
    ></app-product-details>
  </div>
</section>
<!-- product section end -->


<section class="layout page-home" [class.p-3]="isMobile" *ngIf="settings.showTrendingsOne">
  <app-lazy-loader
    [lazyComponentType]="TrendingSwiperComponent"
    (lazyComponentVisible)="TrendingComponentVisible = true"
  >
    <ng-container *ngIf="TrendingComponentVisible">
      <!-- Translate content here -->
      <ng-container *ngTemplateOutlet="trendingSwiperContent"></ng-container>
    </ng-container>
  </app-lazy-loader>

  <!-- Template for translating content -->
  <ng-template #trendingSwiperContent>
    <!-- Content to be translated -->
    <app-product-slider-trending ></app-product-slider-trending>
  
  </ng-template>
</section>


<!-- Ad Banner section -->
<div class="layout page-home pt-5"
  [class.p-5]="!isMobile"
  *ngIf="settings.showBannerOne"
>
  <app-lazy-loader
    [lazyComponentType]="AdSwiperComponent"
    (lazyComponentVisible)="AdComponentVisible = true"
  >
    <ng-container *ngIf="AdComponentVisible">
      <!-- Translate content here -->
      <ng-container *ngTemplateOutlet="adComponentContent"></ng-container>
    </ng-container>
  </app-lazy-loader>

  <!-- Template for translating content -->
  <ng-template #adComponentContent>
    <!-- Content to be translated -->
    <app-ad-banner-swiper></app-ad-banner-swiper>
  </ng-template>
</div>

<!-- our mission  -->
<section
  class="p-0 transperentSection index-section"
  *ngIf="settings.showFeature"
>
  <div class="tab-bg">
    <div class="container-fluid">
      <div
        class="row d-flex justify-content-center"
        [class.p-5]="!this.isMobile"
      >
        <div class="col-lg-5 col-md-3 col-sm-12">
          <div class="d-flex align-items-center" style="height: 100%">
            <div
              class="feature-row__item feature-row__text feature-row__text--right text-center"
            >
              <div class="subheading">
                {{ settings.featureTitle | translate }}
              </div>
              <h2 class="pb-3">{{ settings.featureSubtitle | translate }}</h2>

              <p>{{ settings.featureText1 | translate }}</p>
              <p>{{ settings.featureText2 | translate }}&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="feature-row__item feature-row__item--overlap-images">
            <div>
              <div
                class="image-wrap loaded"
                style="height: 0; padding-bottom: 150.00000000000003%"
              >
                <img
                  [ngSrc]="settings.featureImage1"
                  ngSrcset="180w, 360w, 540w, 750w, 900w, 1080w"
                  class="img-fluid"
                  loading="lazy"
                  fill
                />
              </div>
            </div>

            <div>
              <div
                class="image-wrap loaded"
                style="height: 0; padding-bottom: 150.00000000000003%"
              >
                <img
                  [ngSrc]="settings.featureImage2"
                  ngSrcset="180w, 360w, 540w, 750w, 900w, 1080w"
                  class="img-fluid"
                  loading="lazy"
                  fill
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our mission end -->

<!-- banners square -->
<section *ngIf="settings.showSquareBanners">
  <div class="category-bg">
    <div class="container-fluid p-0">
      <div class="row order-section">
        <div class="col-sm-4 p-0">
          <a
            [href]="settings.squareBannersSectionOptions.bannerOneButtonLink"
            class="image-block"
          >
            <img
              [ngSrc]="settings.squareBannersSectionOptions.bannerOneImageUrl"
              ngSrcset="100w, 200w, 300w"
              class="img-fluid"
              width="450"
              height="450"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-sm-4 p-0">
          <div class="contain-block even">
            <div>
              <h6 *ngIf="settings.squareBannersSectionOptions.bannerOneTitle">
                {{
                  settings.squareBannersSectionOptions.bannerOneTitle
                    | translate
                }}
              </h6>

              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerOneButtonLink
                "
                *ngIf="settings.squareBannersSectionOptions.bannerOneButtonLink"
              >
                <h2 *ngIf="settings.squareBannersSectionOptions.bannerOneInfo">
                  {{
                    settings.squareBannersSectionOptions.bannerOneInfo
                      | translate
                  }}
                </h2>
              </a>
              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerOneButtonLink
                "
                *ngIf="settings.squareBannersSectionOptions.bannerOneButtonLink"
                class="btn btn-solid category-btn"
              >
                {{
                  settings.squareBannersSectionOptions.bannerOneButtonText
                    | translate
                }}
              </a>
              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerOneNormalLink
                "
                *ngIf="settings.squareBannersSectionOptions.bannerOneNormalLink"
              >
                <h6>
                  <span>{{
                    settings.squareBannersSectionOptions.bannerOneNormalText
                      | translate
                  }}</span>
                </h6>
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 p-0">
          <a
            [href]="settings.squareBannersSectionOptions.bannerTwoButtonLink"
            class="image-block"
          >
            <img
              [ngSrc]="settings.squareBannersSectionOptions.bannerTwoImageUrl"
              ngSrcset="100w, 200w, 300w"
              class="img-fluid"
              width="450"
              height="450"
              loading="lazy"
            />
          </a>
        </div>

        <div class="col-sm-4 p-0">
          <div class="contain-block">
            <div>
              <h6 *ngIf="settings.squareBannersSectionOptions.bannerTwoTitle">
                {{
                  settings.squareBannersSectionOptions.bannerTwoTitle
                    | translate
                }}
              </h6>

              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerTwoButtonLink
                "
                *ngIf="settings.squareBannersSectionOptions.bannerTwoButtonLink"
              >
                <h2 *ngIf="settings.squareBannersSectionOptions.bannerTwoInfo">
                  {{
                    settings.squareBannersSectionOptions.bannerTwoInfo
                      | translate
                  }}
                </h2>
              </a>
              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerTwoButtonLink
                "
                *ngIf="settings.squareBannersSectionOptions.bannerTwoButtonLink"
                class="btn btn-solid category-btn"
              >
                {{
                  settings.squareBannersSectionOptions.bannerTwoButtonText
                    | translate
                }}
              </a>
              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerTwoNormalLink
                "
                *ngIf="settings.squareBannersSectionOptions.bannerTwoNormalLink"
              >
                <h6>
                  <span>{{
                    settings.squareBannersSectionOptions.bannerTwoNormalText
                      | translate
                  }}</span>
                </h6>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 p-0">
          <a
            [href]="settings.squareBannersSectionOptions.bannerThreeButtonLink"
            class="image-block even"
          >
            <img
              [ngSrc]="settings.squareBannersSectionOptions.bannerThreeImageUrl"
              ngSrcset="100w, 200w, 300w"
              class="img-fluid"
              width="450"
              height="450"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-sm-4 p-0">
          <div class="contain-block">
            <div>
              <h6 *ngIf="settings.squareBannersSectionOptions.bannerThreeTitle">
                {{
                  settings.squareBannersSectionOptions.bannerThreeTitle
                    | translate
                }}
              </h6>

              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerThreeButtonLink
                "
                *ngIf="
                  settings.squareBannersSectionOptions.bannerThreeButtonLink
                "
              >
                <h2
                  *ngIf="settings.squareBannersSectionOptions.bannerThreeInfo"
                >
                  {{
                    settings.squareBannersSectionOptions.bannerThreeInfo
                      | translate
                  }}
                </h2>
              </a>
              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerThreeButtonLink
                "
                *ngIf="
                  settings.squareBannersSectionOptions.bannerThreeButtonLink
                "
                class="btn btn-solid category-btn"
              >
                {{
                  settings.squareBannersSectionOptions.bannerThreeButtonText
                    | translate
                }}
              </a>
              <a
                [href]="
                  settings.squareBannersSectionOptions.bannerThreeNormalLink
                "
                *ngIf="
                  settings.squareBannersSectionOptions.bannerThreeNormalLink
                "
              >
                <h6>
                  <span>{{
                    settings.squareBannersSectionOptions.bannerThreeNormalText
                      | translate
                  }}</span>
                </h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="layout page-home" *ngIf="settings.showTrendingsSecond">
  <app-lazy-loader
    [lazyComponentType]="TrendingSwiperSecondComponent"
    (lazyComponentVisible)="TrendingSecondComponentVisible = true"
  >
    <ng-container *ngIf="TrendingSecondComponentVisible">
      <!-- Translate content here -->
      <ng-container *ngTemplateOutlet="trendingSecondComponentContent"></ng-container>
    </ng-container>
  </app-lazy-loader>

  <!-- Template for translating content -->
  <ng-template #trendingSecondComponentContent>
    <!-- Content to be translated -->
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="title4">
            <h2 class="title-inner4">{{ "trending products" | translate }}</h2>
            <div class="line">
              <span></span>
            </div>
          </div>
          <div class="row" [class.p-5]="!this.isMobile">
            <div class="col">
              <app-product-slider-trending></app-product-slider-trending>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </ng-template>
</section>

<!--Product Review-->
<div class="container container-xxxl p-5">
  <app-lazy-loader
    [lazyComponentType]="ProductReviewCarouselComponent"
    (lazyComponentVisible)="ProductReviewCarouselComponentVisible = true"
  >
    <ng-container *ngIf="ProductReviewCarouselComponentVisible">
      <!-- Translate content here -->
      <ng-container *ngTemplateOutlet="productReviewCarouselComponentContent"></ng-container>
    </ng-container>
  </app-lazy-loader>

  <!-- Template for translating content -->
  <ng-template #productReviewCarouselComponentContent>
      <app-product-review-carousel></app-product-review-carousel>
  </ng-template>
</div>


<!--Infinity Products Section-->
<section class="layout page-home" *ngIf="settings.showTopProducts">
<div class="container-fluid">
      <div class="row">
        <div class="col">
          <app-lazy-loader [lazyComponentType]="ProductsInfinityScrollComponent" 
          (lazyComponentVisible)="ProductsInfinityScrollComponentVisible = true">
          
          <ng-container *ngIf="ProductsInfinityScrollComponentVisible">
            <ng-container *ngTemplateOutlet="ProductsInfinityScrollContent"></ng-container>
            </ng-container>
          </app-lazy-loader>

          <ng-template #ProductsInfinityScrollContent>
            <app-products-infinity-scroll></app-products-infinity-scroll>
          </ng-template>
        </div>
      </div>
      <br />
</div>
</section>

<!-- product section end -->

<!-- video banner Desktop -->
<section class="video-section" *ngIf="!this.isMobile && settings.showVideo">
  <div class="row">
    <div class="col">
      <div class="play-button-container">
        <img
          class="video-banner-img"
          [ngSrc]="settings.videoSectionOptions.bigVideoImageUrl"
          alt="video image big"
          fill
          loading="lazy"
        />

        <div class="play-button" (click)="VideoModal.openModal()">
          <svg
            class="circle"
            fill="none"
            width="6rem"
            height="6em"
            viewBox="0 0 110 110"
          >
            <circle
              stroke="currentColor"
              stroke-width="2px"
              cx="55"
              cy="55"
              r="50"
            />
          </svg>
          <svg
            class="play"
            width="3rem"
            height="3rem"
            viewBox="0 0 348 308"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M152.349 12.5C161.972 -4.16671 186.028 -4.16667 195.651 12.5L344.607 270.5C354.23 287.167 342.201 308 322.956 308H25.0436C5.79857 308 -6.22951 287.167 3.39299 270.5L152.349 12.5Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <!--<i class="las la-play-circle" (click)="VideoModal.openModal()"></i>
      <iframe loading="lazy" class="lazy-loading" width="90%" height="90%"
        src="https://www.youtube.com/embed/6i4x8PC25nY" title="YouTube video player" frameborder="0"
        allow="autoplay; encrypted-media;" allowfullscreen></iframe>-->
    </div>

    <div class="col">
      <div class="content">
        <h1 *ngIf="settings.videoSectionOptions.title">
          {{ settings.videoSectionOptions.title | translate }}
        </h1>

        <p *ngIf="settings.videoSectionOptions.topInfo">
          {{ settings.videoSectionOptions.topInfo | translate }}
        </p>

        <h2 *ngIf="settings.videoSectionOptions.topInfoTwo">
          {{ settings.videoSectionOptions.topInfoTwo | translate }}
        </h2>

        <div
          class="video-thumb-grid"
          *ngIf="
            settings.videoSectionOptions.videoOneImageUrl ||
            settings.videoSectionOptions.videoTwoImageUrl
          "
        >
          <!-- Daft Punk - Human After All -->
          <a
            [href]="settings.videoSectionOptions.videoOneUrl"
            *ngIf="settings.videoSectionOptions.videoOneUrl"
            class="video-thumb"
          >
            <img
              class="video-banner-img"
              [ngSrc]="settings.videoSectionOptions.videoOneImageUrl"
              alt="ad image one"
              fill
              loading="lazy"
            />
          </a>

          <!-- M83 - Midnight City -->
          <a
            [href]="settings.videoSectionOptions.videoTwoUrl"
            *ngIf="settings.videoSectionOptions.videoTwoUrl"
            class="video-thumb"
          >
            <img
              class="video-banner-img"
              [ngSrc]="settings.videoSectionOptions.videoTwoImageUrl"
              alt="ad image two"
              fill
              loading="lazy"
            />
          </a>
        </div>

        <h2 *ngIf="settings.videoSectionOptions.bottomTitle">
          {{ settings.videoSectionOptions.bottomTitle | translate }}
        </h2>

        <p *ngIf="settings.videoSectionOptions.bottomInfo">
          {{ settings.videoSectionOptions.bottomInfo | translate }}
        </p>

        <div
          class="button-group"
          *ngIf="
            settings.videoSectionOptions.buttonOneLink ||
            settings.videoSectionOptions.buttonTwoLink
          "
        >
          <a
            [href]="settings.videoSectionOptions.buttonOneLink"
            *ngIf="settings.videoSectionOptions.buttonOneLink"
            class="button primary"
          >
            <i [class]="settings.videoSectionOptions.buttonOneIcon"></i>
            {{ settings.videoSectionOptions.buttonOneText | translate }}
          </a>

          <a
            [href]="settings.videoSectionOptions.buttonTwoLink"
            *ngIf="settings.videoSectionOptions.buttonTwoLink"
            class="button"
          >
            <i [class]="settings.videoSectionOptions.buttonTwoIcon"></i>
            {{ settings.videoSectionOptions.buttonTwoText | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- video banner Mobile-->
<section class="video-section" *ngIf="this.isMobile && settings.showVideo">
  <div class="row">
    <div class="col">
      <div class="content">
        <h1 *ngIf="settings.videoSectionOptions.title">
          {{ settings.videoSectionOptions.title }}
        </h1>

        <p *ngIf="settings.videoSectionOptions.topInfo">
          {{ settings.videoSectionOptions.topInfo }}
        </p>

        <div class="banner">
          <div class="play-button-container">
            <img
              class="video-banner-img"
              [ngSrc]="settings.videoSectionOptions.bigVideoImageUrl"
              alt="video image big"
              fill
              loading="lazy"
            />

            <div class="play-button" (click)="VideoModal.openModal()">
              <svg
                class="circle"
                fill="none"
                width="6rem"
                height="6em"
                viewBox="0 0 110 110"
              >
                <circle
                  stroke="currentColor"
                  stroke-width="2px"
                  cx="55"
                  cy="55"
                  r="50"
                />
              </svg>
              <svg
                class="play"
                width="3rem"
                height="3rem"
                viewBox="0 0 348 308"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M152.349 12.5C161.972 -4.16671 186.028 -4.16667 195.651 12.5L344.607 270.5C354.23 287.167 342.201 308 322.956 308H25.0436C5.79857 308 -6.22951 287.167 3.39299 270.5L152.349 12.5Z"
                  fill="currentColor"
                />
              </svg>
            </div>
          </div>
        </div>

        <h2 *ngIf="settings.videoSectionOptions.topInfoTwo">
          {{ settings.videoSectionOptions.topInfoTwo }}
        </h2>

        <div
          class="video-thumb-grid"
          *ngIf="
            settings.videoSectionOptions.videoOneImageUrl ||
            settings.videoSectionOptions.videoTwoImageUrl
          "
        >
          <!-- Daft Punk - Human After All -->
          <a
            [href]="settings.videoSectionOptions.videoOneUrl"
            *ngIf="settings.videoSectionOptions.videoOneUrl"
            class="video-thumb"
          >
            <img
              class="video-banner-img"
              [ngSrc]="settings.videoSectionOptions.videoOneImageUrl"
              alt="ad image one"
              fill
              loading="lazy"
            />
          </a>

          <!-- M83 - Midnight City -->
          <a
            [href]="settings.videoSectionOptions.videoTwoUrl"
            *ngIf="settings.videoSectionOptions.videoTwoUrl"
            class="video-thumb"
          >
            <img
              class="video-banner-img"
              [ngSrc]="settings.videoSectionOptions.videoTwoImageUrl"
              alt="ad image two"
              fill
              loading="lazy"
            />
          </a>
        </div>

        <h2 *ngIf="settings.videoSectionOptions.bottomTitle">
          {{ settings.videoSectionOptions.bottomTitle }}
        </h2>

        <p *ngIf="settings.videoSectionOptions.bottomInfo">
          {{ settings.videoSectionOptions.bottomInfo }}
        </p>

        <div
          class="button-group"
          *ngIf="
            settings.videoSectionOptions.buttonOneLink ||
            settings.videoSectionOptions.buttonTwoLink
          "
        >
          <a
            [href]="settings.videoSectionOptions.buttonOneLink"
            *ngIf="settings.videoSectionOptions.buttonOneLink"
            class="button primary"
          >
            <i [class]="settings.videoSectionOptions.buttonOneIcon"></i>
            {{ settings.videoSectionOptions.buttonOneText }}
          </a>

          <a
            [href]="settings.videoSectionOptions.buttonTwoLink"
            *ngIf="settings.videoSectionOptions.buttonTwoLink"
            class="button"
          >
            <i [class]="settings.videoSectionOptions.buttonTwoIcon"></i>
            {{ settings.videoSectionOptions.buttonTwoText }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- video banner end -->

<!-- timer banner -->
<section class="p-5" *ngIf="settings.showTimer">
  <div class="container">
    <div class="banner-timer">
      <img
        [ngSrc]="settings.timerImageUrl"
        alt="ad image two"
        fill
        loading="lazy"
      />

      <div class="row">
        <div class="col">
          <div class="banner-text">
            <h2>{{ settings.timerText | translate }}</h2>
          </div>
        </div>

        <div class="col">
          <div class="timer-box">
            <div class="timer">
              <p id="demo">
                <span>
                  {{ this.days }}<span class="padding-l">:</span
                  ><span class="timer-cal">{{ "Days" | translate }}</span>
                </span>
                <span>
                  {{ this.hours }}<span class="padding-l">:</span
                  ><span class="timer-cal">{{ "Hrs" | translate }}</span>
                </span>
                <span>
                  {{ this.minutes }}<span class="padding-l">:</span
                  ><span class="timer-cal">{{ "Min" | translate }}</span>
                </span>
                <span>
                  {{ this.seconds
                  }}<span class="timer-cal">{{ "Sec" | translate }}</span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- timer banner end -->

<div
 class="section section-full bg-custom"
  [class.p-5]="!this.isMobile"
  *ngIf="settings.showBannerTwo"
>
<app-lazy-loader
[lazyComponentType]="AdSwiperComponent"
(lazyComponentVisible)="AdComponentVisible = true"
>
<ng-container *ngIf="AdComponentVisible">
  <!-- Translate content here -->
  <ng-container *ngTemplateOutlet="adSwiperContent"></ng-container>
</ng-container>
</app-lazy-loader>

<!-- Template for translating content -->
<ng-template #adSwiperContent>
<!-- Content to be translated -->
<app-ad-banner-swiper></app-ad-banner-swiper>
</ng-template>
</div>


<div class="section section-full bg-custom" *ngIf="settings.showNewsletter">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center" [class.p-5]="!this.isMobile">
      <div class="col-lg-6 col-md-3 col-sm-12">
        <div class="image-container">
          <img
            src="//impact-theme-shape.myshopify.com/cdn/shop/files/newsletter.jpg?v=1664181139&amp;width=1500"
            alt=""
            srcset="
              //impact-theme-shape.myshopify.com/cdn/shop/files/newsletter.jpg?v=1664181139&amp;width=352   352w,
              //impact-theme-shape.myshopify.com/cdn/shop/files/newsletter.jpg?v=1664181139&amp;width=832   832w,
              //impact-theme-shape.myshopify.com/cdn/shop/files/newsletter.jpg?v=1664181139&amp;width=1200 1200w,
              //impact-theme-shape.myshopify.com/cdn/shop/files/newsletter.jpg?v=1664181139&amp;width=1500 1500w
            "
            width="1500"
            height="1000"
            loading="lazy"
            sizes="(max-width: 999px) 100vw, min(50vw, 1520px / 2)"
            class="h-full object-cover"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12">
        <div class="newsletter-box bg-custom" style="--background: 247 247 247">
          <div class="newsletter-content">
            <svg
              role="presentation"
              fill="none"
              focusable="false"
              stroke-width="1.5"
              width="32"
              height="32"
              class="newsletter-content__icon icon icon-picto-at-sign"
              viewBox="0 0 24 24"
            >
              <path
                d="M16.994 12a4.946 4.946 0 1 1-9.89 0 4.946 4.946 0 0 1 9.891 0v0h-.001Z"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M16.994 12v2.143c0 5.753 9.017.329 4.285-7.483a10.864 10.864 0 0 0-9.312-5.374 10.715 10.715 0 1 0 4.154 20.605"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
            <div class="prose">
              <h2 class="h2">Unlock 15% off</h2>
              <p>
                Sign up to our emails and get 15% off full price styles in your
                next order.
              </p>
            </div>
            <form
              method="post"
              action="/contact#newsletter-form-template--16046401126576__166419721143f10f6e"
              id="newsletter-form-template--16046401126576__166419721143f10f6e"
              accept-charset="UTF-8"
              class="form"
            >
              <input type="hidden" name="form_type" value="customer" /><input
                type="hidden"
                name="utf8"
                value="✓"
              /><input type="hidden" name="contact[tags]" value="newsletter" />

              <div class="fieldset-with-submit">
                <div class="form-control">
                  <input
                    id="input-template--16046401126576__166419721143f10f6e--contactemail"
                    class="input is-floating"
                    type="email"
                    dir="ltr"
                    name="contact[email]"
                    placeholder=" "
                    autocomplete="email"
                    enterkeyhint="send"
                    required=""
                  /><label
                    for="input-template--16046401126576__166419721143f10f6e--contactemail"
                    class="floating-label"
                    >E-mail</label
                  >
                </div>
                <button
                  type="submit"
                  class="button button--xl"
                  is="custom-button"
                >
                  <div>
                    <div class="text-with-icon justify-center">
                      <svg
                        role="presentation"
                        fill="none"
                        focusable="false"
                        stroke-width="1.5"
                        width="18"
                        height="18"
                        class="icon icon-picto-envelope"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M1.77 18.063a3.586 3.586 0 0 0 3.174 3.11c2.278.24 4.637.49 7.056.49 2.417 0 4.778-.252 7.056-.49a3.584 3.584 0 0 0 3.175-3.11c.243-1.96.483-3.987.483-6.063 0-2.074-.24-4.102-.483-6.063a3.586 3.586 0 0 0-3.175-3.112c-2.278-.236-4.639-.487-7.056-.487s-4.778.252-7.056.49a3.583 3.583 0 0 0-3.175 3.11c-.243 1.96-.483 3.988-.483 6.062 0 2.074.24 4.102.483 6.063Z"
                          fill="currentColor"
                          fill-opacity=".12"
                          stroke="currentColor"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="m1.817 5.493 8.06 6.356a3.428 3.428 0 0 0 4.245 0l8.06-6.356"
                          stroke="currentColor"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                      Subscribe
                    </div>
                  </div>
                </button>
              </div>
              <p class="text-xs text-subdued">
                By completing this form you are signing up to receive our emails
                and can unsubscribe at any time.
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-one></app-footer-one>

<app-video-modal #videoModal [videoUrl]="'https://www.youtube.com/embed/6i4x8PC25nY'" *ngIf="settings.showVideo"></app-video-modal>

