<form class="pt-3" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm?.value)">
      <div class="input-group fast-order mb-3">
        <input
          type="text"
          class="form-control"
          [placeholder]="'Phone number' | translate"
          [formControl]="checkoutForm?.controls['phone']"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-dark"
            type="submit"
            [disabled]="!checkoutForm?.valid || isVariantSelected"
            [ngSwitch]="isInCart"
          >
            <!-- Desktop -->
            <span *ngSwitchCase="0">
              <ng-container *ngIf="!isMobile">{{ 'Quick Order' | translate }}</ng-container>
              <ng-container *ngIf="isMobile"><i class="las la-phone"></i></ng-container>
            </span>
            <span *ngSwitchCase="1" class="spinner-border spinner-border-sm"></span>
            <span *ngSwitchCase="2"><i class="las la-check"></i> {{ 'Successfully Sent' | translate }}</span>
            <span *ngSwitchCase="3"><i class="las la-exclamation-triangle"></i> {{ 'Duplicated Order' | translate }}</span>
          </button>
        </div>
      </div>
</form>

