<div class="product-page">
  <div class="new-product-item">

    <div class="product-item">
      <div class="product-item__description with-label">

        <div>

          <ngx-skeleton-loader appearance="line" animation="progress" count="1" [theme]="{ height: '1em','border-radius': '12px'}"></ngx-skeleton-loader>
        </div>
        <div>

        </div>
        <h1 itemprop="name">
          <ngx-skeleton-loader appearance="line" animation="progress" count="2" [theme]="{ height: '3em', 'border-radius': '12px' }"></ngx-skeleton-loader>
        </h1>
        <div class="product-item__social">
          <div class="product-item__reviews">

            <div>
              <a class="responses-amount">
                <ngx-skeleton-loader appearance="line" animation="progress" count="2" [theme]="{ height: '2em', 'border-radius': '12px'}"></ngx-skeleton-loader>
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="product-item__image">
        <ngx-skeleton-loader appearance="line" animation="progress" [theme]="{height: '400px', 'border-radius': '12px'}"></ngx-skeleton-loader>
      
      </div>

      <div class="product-item__buy">
        <div class="product-item__row">
          <ngx-skeleton-loader appearance="line" animation="progress-dark" count="2" [theme]="{ height: '1em' }"></ngx-skeleton-loader>
        </div>
        <div class="product-item__volume-select">
          <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1" [theme]="{ height: '4em' }"></ngx-skeleton-loader>

        </div>

        <div class="product-item__button">
          <!-- Buy Button -->
          <ngx-skeleton-loader appearance="line" animation="progress-dark" count="1" [theme]="{ height: '2em' }"></ngx-skeleton-loader>

        </div>
        <div class="product-item__code-wrap">
          <div class="product-item__status">
          </div>
          <div class="product-item__code">

          </div>
        </div>
        <div class="product-item__info">

        </div>
      </div>
    </div>
  </div>
</div>
