.slot-machine {
    margin: 0;
    background: #16A085;
    background: -webkit-linear-gradient(to right, #F4D03F, #16A085);
    background: linear-gradient(to right, #F4D03F, #16A085);
    animation: createBox 0.5s ease-in 0.05s forwards;

    $color_1: white;
    $color_2: #16a085;
    $font-family_1: 'Ubuntu', sans-serif;
    $border-color_1: #16a085;


    ul {
        position: absolute;
        list-style: none;
        padding: 0;
    }

    li {
        position: absolute;
    }

    .slot-container {
        position: absolute;
        perspective: 2000px;
        width: 100px;
        height: 130px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: relative;
    }

    .stage {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 50vh;
        position: relative;
        justify-content: center;
    }

    .stage.notstarted {
        .active {
            box-shadow: none;
        }
    }

    .results {
        padding: 20px 0;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

        div {
            font-size: 20px;
            text-align: center;
            color: $color_1;
        }
    }

    .button-area {
        padding: 20px 0;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }

    button {
        text-align: center;
        display: inline-block;
        top: 25px;
        border-radius: 5px;
        font-size: 1.5em;
        padding: 10px 27px;
        background: transparent;
        border: 2px solid white;
        color: $color_1;
        transition: all 0.2s ease;
        font-weight: 500;
        font-family: $font-family_1;

        &:hover {
            background: white;
            color: $color_2;
            border-color: $border-color_1;
        }

        &:focus-visible {
            background: white;
            color: $color_2;
            border-color: $border-color_1;
        }
    }

    .ring {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        user-select: none;

        &.held {
            border: 10px solid green;
        }
    }

    .slot-item {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        user-select: none;
        display: flex;
        justify-content: center;
        vertical-align: center;
        margin: auto;
        border: 1px solid white;
        border-radius: 5px;
        backface-visibility: hidden;
        background: white;
        opacity: 0.8;

        span {
            font-size: 2.5em;
            margin: auto;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        &.active {
            box-shadow: inset 0px 0 10px 0px #ecd820b0;
            opacity: 1;
        }
    }

    .console-outer {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        user-select: none;
        max-height: 460px;
        min-height: 130px;
        flex: 1 1 auto;
        box-shadow: 0 5px 20px 0px #07352b80;
        display: flex;
        flex-direction: row;
        max-width: 465px;
        margin: auto;
        margin-bottom: 20px;
        gap: 2px;
        border: 15px solid black;
        border-left: none;
        border-right: none;
        border-radius: 15px;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%);
            content: " ";
        }
    }

    .slot-row.console {
        flex: 1 1 auto;
        display: flex;
        max-height: 520px;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;
        width: 100%;
    }

    .slot-col.wheel {
        background: black;
        padding: 0 40px;
        max-height: 430px;
        min-height: 130px;
        height: 100%;
        overflow: hidden;
        margin: auto;
        flex: 0 0 calc(33.333333333% - 2px);
        max-width: calc(33.333333333% - 2px);
        position: relative;
    }

    .holdcontrols {
        max-width: 465px;
        width: 100%;
        display: flex;
        margin: auto;
        margin-top: 0;

        .slot-col {
            padding: 10px 0;
            padding-top: 0;
            text-align: center;
            flex: 0 0 calc(33.333333333% - 2px);
            max-width: calc(33.333333333% - 2px);
        }

        button {
            font-size: 1em;
            padding: 5px 25px;
        }

        button.held {
            background: #16a085;
            color: $color_1;
            border-color: $border-color_1;
        }
    }
}