<div class="layout page-page_not_found">
        <a href="/" class="page-not-found">
          <img src="./assets/images/obscene.me/404.webp" alt="page not found image" loading="lazy" class="page-not-found__img">
          <div class="page-not-found__content">
              <div class="page-not-found__title-f">{{'Instead of this page, we found amazing deals for you!' | translate}}</div>
              <div class="page-not-found__title-s">{{'Return to the home page — the devil awaits you!' | translate }}</div>
              <div class="page-not-found__btn">
                  <button>{{'Back to home' | translate}}</button>
              </div>
          </div>
        </a>          
      </div>