<ul class="product-social" *ngIf="!onlyIcon">
 <li>
  <a href="https://www.facebook.com/">
   <i class="lab la-facebook"></i>
  </a>
 </li>
 <li>
  <a href="https://plus.google.com/discover">
   <i class="lab la-google-plus-g"></i>
  </a>
 </li>
 <li>
  <a href="https://twitter.com/">
   <i class="lab la-twitter"></i>
  </a>
 </li>
 <li>
  <a href="https://www.instagram.com/">
   <i class="lab la-instagram"></i>
  </a>
 </li>
</ul>

<svg *ngIf="onlyIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
 <path
  d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
</svg>
