<div [ngSwitch]="template">
 <app-product-box-cardClean *ngSwitchCase="'clean'" [product]="product" [class]="class"> </app-product-box-cardClean>
<!--
 <app-product-box-cardFull *ngSwitchCase="'cardFull'" [product]="product"> </app-product-box-cardFull>
 <app-product-box-basic *ngSwitchCase="'basic'" [product]="product"> </app-product-box-basic>
 <app-product-box-card-progress *ngSwitchCase="'cardProgress'" [product]="product"> </app-product-box-card-progress>

 <app-product-box-card *ngSwitchCase="'card'" [product]="product" [multiButtons]="false"> </app-product-box-card>
 <app-product-box-cardBlack *ngSwitchCase="'cardBlack'" [product]="product"> </app-product-box-cardBlack>
 <app-product-box-cardBlackBig *ngSwitchCase="'cardBlackBig'" [product]="product"> </app-product-box-cardBlackBig>

 <app-product-box-cardMinimal *ngSwitchCase="'minimal'" [product]="product" [class]="class"> </app-product-box-cardMinimal>
 <app-product-box-rounded *ngSwitchCase="'rounded'" [product]="product" [class]="class"> </app-product-box-rounded>
-->
</div>
