@font-face {
  font-family: 'Harmonia Sans';
  src: url('HarmoniaSans-Regular.woff2') format('woff2'),
       url('HarmoniaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
