@import '../../../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'feather-icon/feather-icon';

@import 'customCheckbox';
@import 'theme/variables';
@import 'theme/admin_style';
@import 'theme/rtl';
@import 'theme/chartist.scss';
@import 'theme/datatable';
@import 'icons/icoicon/icons';
@import 'theme/modal.scss';


// Flag contents
@import 'flag-icon/flag-icon-base';
@import 'flag-icon/flag-icon-more';
@import 'flag-icon/flag-icon-list';
//@import '../../../../../node_modules/icons/themify/themify-icons';
@import '../../../../../node_modules/dropzone/dist/min/dropzone.min.css';
//@import '../../../../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
//@import '../../../../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "../../../../../node_modules/@ag-grid-community/core/dist/styles/ag-grid";
@import "../../../../../node_modules/@ag-grid-community/core/dist/styles/ag-theme-alpine.min.css";

.btn-unset {
 outline: 0;
 border: none;
 box-shadow: none;
 border-radius: 0;
 background: 0 0;
 text-transform: none;
 line-height: 1;
}
