

                        <div class="product-box-rounded">
                            <img src="https://techzaa.getappui.com/ecard/assets/images/5.jpg" class="rounded-t-2xl" alt="">

                            <div class="mx-5 -mt-20 relative">
                                <div class="p-6 rounded-2xl bg-white shadow">
                                    <h4 class="text-lg font-semibold">MIG Turbo</h4>
                                    <h2 class="text-3xl font-semibold mt-4">$890.00 CAD</h2>
                                    <div class="flex items-center justify-between gap-6">
                                        <div class="flex items-center gap-3">
                                            <i class="ti ti-star-filled text-green-500"></i>
                                            <p class="text-base font-semibold">4.8 <span class="font-medium text-gray-500">(28 reviews)</span></p>
                                        </div>

                                        <div class="h-10 w-10 rounded-full flex items-center justify-center text-black bg-gray-100 hover:text-red-500 transition-all duration-500">
                                            <i class="las la-heart la-2x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
