<div class="cards-container"
 *ngIf="product">
 <div class="card cardBlack">
  <!--[style.width]="settings.width"-->
  <div class="top-bar">
   <app-badges [badgeClass]="'badge-text'"
    [settings]="settings"
    [marketStatus]="this.product.marketStatus"></app-badges>
  </div>
  <div class="img-container"
   [routerLink]="['/shop/product/info/', product?.id]"
   target="_blank">
   <img class="card-img-top"
    *ngIf="product?.images == undefined"
    [ngSrc]="product?.src?.length > 0 ? product?.src : this.defaultImage"
    ngSrcset="100w, 200w, 300w"
    [alt]="product?.title"
    fill
    loading="lazy" />
   <img class="card-img-top"
    *ngIf="product?.images !== undefined"
    [ngSrc]="product?.images[0]?.src.length > 0 ? product?.images[0]?.src : this.defaultImage"
    ngSrcset="100w, 200w, 300w"
    [alt]="product?.title"
    fill
    loading="lazy" />
  </div>
  <div class="card-body"
   *ngIf="!this.deviceDetector.isDevice('Mobile')">
   <div class="name-fav d-flex justify-content-between"
    [routerLink]="['/shop/product/', product?.id]"
    target="_blank">
    <strong> {{ product?.title.length > 37 ? (product?.title | slice : 0 : 37) + "..." : (product?.title | titlecase) }}
    </strong>
    <p> {{ baseService.calcCurrency(product?.price - product?.discountRate) | asCurrency : baseService.activeCurrency }}
    </p>
   </div>
   <div class="cardBlack-wrapper">
    <bar-rating [(rate)]="product.rating"
     [max]="5"
     [readOnly]="true"
     [showText]="false">
     <ng-template ratingActive>
      <i class="las la-star"
       style="margin: 2px; color: #edb867"></i>
     </ng-template>
     <ng-template ratingInactive>
      <i class="lar la-star"
       style="margin: 2px; color: #d2d2d2"></i>
     </ng-template>
    </bar-rating>
    <div class="purchase d-flex justify-content-between">
     <span>({{ product?.ratingVotes }})</span>
     <a [routerLink]="['/shop/product/', product?.id]"
      target="_blank"
      class="icon">
      <i class="las la-shopping-cart"></i>
     </a>
    </div>
   </div>
  </div>
  <div class="card-body"
   *ngIf="this.deviceDetector.isDevice('Mobile')">
   <div class="name-fav"
    [routerLink]="['/shop/product/', product?.id]"
    target="_blank">
    <strong> {{ product?.title.length > 30 ? (product?.title | slice : 0 : 30) + "..." : (product?.title | titlecase) }}
    </strong>
   </div>
   <p> {{ baseService.calcCurrency(product?.price - product?.discountRate) | asCurrency : baseService.activeCurrency }}
   </p>
  </div>
 </div>
</div>