.subcategory-list {
 padding-left: 10px;

}

.subcategory-item {
 position: relative;
 padding: 5px;
 cursor: pointer;

 span {
  cursor: pointer;
  padding: 5px 0;
  display: inline-block;
  font-size: 1em;
  line-height: 24px;
  transition: color .2s ease-in-out;
 }

 &:hover {
  filter: brightness(60%);
 }

 &.selected {
  filter: brightness(50%);

 }
}