<div class="jdgm-row-media">
  <div class="jdgm-medals-wrapper">
    <div class="jdgm-medals" >
      <div class="jdgm-medals__container">
        
        <div class="jdgm-medal-wrapper" title="Gold Authentic Shop. At least 95% of published reviews are verified reviews">
          <a class="jdgm-medal" data-type="auth" data-tier="gold">
            <div class="jdgm-medal__image" data-url="auth/gold.svg" data-alt="Judge.me Gold Authentic Shop medal">
              <img src="https://judgeme-public-images.imgix.net/judgeme/medals-v2-2025-rebranding/auth/gold.svg?auto=format" alt="Judge.me Gold Authentic Shop medal" />
            </div>
          </a>
        </div>

        <div class="jdgm-medal-wrapper" title="Gold Verified Reviews Shop. Obtained at least 100 reviews submitted by genuine customers with proof of purchase history">
          <a class="jdgm-medal">
            <div class="jdgm-medal__image">
              <img src="https://judgeme-public-images.imgix.net/judgeme/medals-v2-2025-rebranding/ver_rev/gold.svg?auto=format" alt="Judge.me Gold Verified Reviews Shop medal" />
            </div>
            <div class="jdgm-medal__value">{{this.reviews.length}}</div>
          </a>
        </div>

        <div class="jdgm-medal-wrapper" title="Gold Monthly Record Shop. Achieved an all-time record of 50 published verified reviews within one calendar month.">
          <a class="jdgm-medal" data-type="mon_rec" data-tier="gold">
            <div class="jdgm-medal__image" data-url="mon_rec/gold.svg" data-alt="Judge.me Gold Monthly Record Shop medal">
              <img src="https://judgeme-public-images.imgix.net/judgeme/medals-v2-2025-rebranding/mon_rec/gold.svg?auto=format" alt="Judge.me Gold Monthly Record Shop medal" />
            </div>
          </a>
        </div>

        <div class="jdgm-medal-wrapper" title="Top 5% Shops. Top 5% shops that obtained and published the most verified reviews of all time">
          <a class="jdgm-medal" data-type="tops" data-tier="5-percent">
            <div class="jdgm-medal__image" data-url="tops/5-percent.svg" data-alt="Judge.me Top 5% Shops medal">
              <img src="https://judgeme-public-images.imgix.net/judgeme/medals-v2-2025-rebranding/tops/5-percent.svg?auto=format" alt="Judge.me Top 5% Shops medal" />
            </div>
          </a>
        </div>

        <div class="jdgm-medal-wrapper" title="Top 5% Trending Shops. Top 5% trending shops that obtained and published the most verified reviews in the last 30 days">
          <a class="jdgm-medal" data-type="tops_trend" data-tier="5-percent">
            <div class="jdgm-medal__image" data-url="tops_trend/5-percent.svg" data-alt="Judge.me Top 5% Trending Shops medal">
              <img src="https://judgeme-public-images.imgix.net/judgeme/medals-v2-2025-rebranding/tops_trend/5-percent.svg?auto=format" alt="Judge.me Top 5% Trending Shops medal" />
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
